:root {
    --color-primary: #292F34;
    --color-blue-light: #8ED1D1;
    --color-blue-dark: #47BFBE;
    --color-blue-light-8: rgba(142, 209, 209, 0.8);
    --color-blue-dark-8: rgba(71, 191, 191, 0.8);
    --color-orange-light: #EADFD0;
    --color-orange-dark: #FA533C;
}

body {
    background: linear-gradient(to right, var(--color-blue-dark-8), var(--color-blue-light-8)), url('img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    background: #292F34;
    opacity: 0.9;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover {
    background: #FA533C;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

p a {
    color: #fff;
    font-weight: bold;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #292F34;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none
}

@media (max-width:768px) {
    .toggle {
        display: block;
    }
    ul {
        width: 100%;
        display: none;
    }
    ul li {
        display: block;
    }
    .active {
        display: block;
    }
}

.wrap {
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: #292F34;
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
    opacity: 0.9;
}

h2 {
    text-align: center;
}

input[type=text],
input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: #292F34;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

input[type=submit] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #FA533C;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

input[type=submit]:hover {
    background: #8ED1D1;
    opacity: 0.7;
    cursor: pointer;
}